<!DOCTYPE html>
<html class= "full" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>childHood NYC</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for backgroud image -->
    <link href="../static/css/the-big-picture.css" rel="stylesheet">

    <!-- Custom style CSS -->
    <link href="../static/css/custom_changes.css" rel="stylesheet">

    <style type="text/css">
	  .well { background-color: rgba(245, 245, 245, 0.4); }
    </style>

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        
	</head>
	<body>
		{% block content %}{% endblock %}

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>