<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <iframe src="//www.slideshare.net/slideshow/embed_code/38323170" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/joshuaainsley/childhood-38323170" title="childHood" target="_blank">childHood</a> </strong> from <strong><a href="http://www.slideshare.net/joshuaainsley" target="_blank">Joshua Ainsley</a></strong> </div>
    </div>
</div>

{% endblock %}